<div class="page-wrapper" >
    <div class="container page-container">
        {Category Listing}
        <div class="row">
            {{#each allProd}}
            <div class="col-sm-4">
                <div class="card-group">
                    <div class="card mb-5 text-center" style="width: 18rem;">
                        <img class="card-img-top" id='photosForAll' src='https://s3-us-west-1.amazonaws.com/techcheckbucket/{{userUploadImage1}}'
                            upload={{userUploadImage1}}>
                        <div class="card-body bg-light">
                            <h5 class="card-title">{{product_name}} {{category}}</h5>
                            <p class="card-text">{{product_description}}</p>
                            <p class="card-text">Price : ${{daily}}/day ${{weekly}}/week</p>
                            <p class="card-text">Security Deposit : ${{security_deposit}}</p>
                            <button class='btn btn-outline-info RequestRent' productId={{id}} type="button" href=>More Details</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>