<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">MOOCH</a>
    <div id="nav-search-wrapper">
        <form action="" method="GET">
            <input type="text" name="search" id="nav-search" placeholder="Search" />
        </form>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">

        </ul>

        {{#if users.signedIn}}
        <p id={{users.emai}}>
            <li class="dropdown">
                <a href='/user/profile' class="dropdown-toggle" data-toggle="dropdown">{{users.email}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="list-style: none">
                    <li>
                        <a href='/user/profile'>Profile</a>
                    </li>
                    <li>
                        <a href="#">Transactions</a>
                    </li>
                    <li>
                        <a href='/user/products'>My Products</a>
                    </li>
                    <li>
                        <p>
                            <a class="btn btn-primary" id='signOutUser' email={{users.email}}>Sign Out</a>
                        </p>
                    </li>
                </ul>
            </li>
        </p>
        {{else}}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInModal" id="signIn">
            Sign-in
        </button>

        <button class="newUserReg btn btn-secondary" value="Register">Register</button>

        {{/if}}
    </div>


</nav>


<div class="container" id="productRequestContainer">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">{{users.name}}'s Transactions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Pending Rental Requests</h1>
        </div>
    </div>
    <div class="row">
        {{#each ShowRenters}}
        <div class="col-sm-8">
         
             
            <p>Category : {{category}}</p>
            <br>
            <p>Product : {{product_name}}</p>
            <br>
        </div>
       
        <div class="col-sm-4 text-center">
            <p>
                <a class="btn btn-primary" href="">Accept Rental Request</a>
            </p>
        </div>
        {{/each}}
        <div class="col-sm-12">
            <p class="text-center">You have no pending request</p>
        </div>
    
    </div>
</div>