<div class="container" id="individualProductDetails">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{category}}</h1>
            <h4>Description : {{product_description}}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>{{userUploadImage1}}</p>

        </div>
        <div class="col-sm-6">
            <p>{{userUploadImage2}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>Rental Costs : </p>
            <p>${{daily}}/day</p>
            <p>${{weekly}}/week</p>
            <p>${{monthly}}/month</p>
            <p>Security Deposit : ${{security_deposit}}</p>
            <p>Description : {{product_description}}</p>

            <a class="btn btn-primary" href="" id="emailOwner">Ask owner questions</a>
            <a class="btn btn-primary" href="" id="requestRent">Request/Schedule Rent</a>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
</div>