<div class="container-fluid py-5 page-wrapper" id="userProfileSettings">

    {{!--
    <div class="row">
        <div class="col-sm-10">
            <img id='profilePicProfile' src='https://s3-us-west-1.amazonaws.com/techcheckbucket/{{users.profilePic}}'>

            <p>Email : {{users.email}}</p>
            <p>Phone number : {{users.phoneNumber}}</p>
            <p>Address : {{users.address}} {{users.city}},{{users.state}} {{users.zipCode}}</p>
        </div>
        <div class="col-sm-2">
            <p>
                <a class="btn btn-primary" href="/edit/Profile">EDIT</a>
            </p>
        </div>
    </div> --}}
    <div class="card text-center mx-auto" style="width: 372px;">
        <img class="card-img-top profile-image" src="https://s3-us-west-1.amazonaws.com/techcheckbucket/{{users.profilePic}}" alt="WHERE IS YOUR PIC?" style="">
        <div class="card-body bg-secondary">
            <h5 class="card-title mb-5 profile-text">{{users.firstName}} profile</h5>
            <p class="card-text mb-5 profile-text text-left">Email : {{users.email}}</p>
            <p class="card-text mb-5 profile-text text-left">Phone number : {{users.phoneNumber}}</p>
            <p class="card-text mb-5 profile-text text-left">Address : {{users.address}} {{users.city}},{{users.state}} {{users.zipCode}}</p>
            <a href="/edit/Profile" class="btn btn-primary mb-3">Edit Profile</a>
        </div>
    </div>

</div>

