<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">MOOCH</a>
    <div id="nav-search-wrapper">
        <form action="" method="GET">
            <input type="text" name="search" id="nav-search" placeholder="Search" />
        </form>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
        </ul>

        {{#if users.signedIn}}
        <p id={{users.emai}}>
            <li class="dropdown">
                <a href='/user/profile' class="dropdown-toggle" data-toggle="dropdown">{{users.email}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="list-style: none">
                    <li>
                        <a href='/user/profile'>Profile</a>
                    </li>
                    <li>
                        <a href="#">Transactions</a>
                    </li>
                    <li>
                        <a href='/user/products'>My Products</a>
                    </li>
                    <li>
                        <p>
                            <a class="btn btn-primary" id='signOutUser' email={{users.email}}>Sign Out</a>
                        </p>
                    </li>
                </ul>
            </li>
        </p>
        {{else}}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInModal" id="signIn">
            Sign-in
        </button>

        <button class="newUserReg btn btn-secondary" value="Register">Register</button>

        {{/if}}
    </div>

</nav>


<br>
<br>
<br>
<br>


<div class="container" id="userProfileSettigs">
    <div class="row text-center">
        <div class="col-sm-12">
            <h1>USER Profile Settings</h1>
        </div>
    </div>

        <div class="row">
            <div class="col-sm-10">
                <img id ='profilePicProfile' src='https://s3-us-west-1.amazonaws.com/moochify/{{users.profilePic}}'>
               
                <p>Email : {{users.email}}</p>
                <p>Phone number : {{users.phoneNumber}}</p>
                <p>Address : {{users.address}} {{users.city}},{{users.state}} {{users.zipCode}}</p>
            </div>
            <div class="col-sm-2">
                <p>
                    <a class="btn btn-primary" href="/edit/Profile">EDIT</a>
                </p>
            </div>
        </div>
        {{!-- <div class="col-sm-2">
            <p>
                <a class="btn btn-primary" href="/editProfile">EDIT</a>
            </p>
        </div> --}}
    </div>

</div>


<br>
<br>
<br>


<!-- FOOTER -->
<footer class="footer text-center">
    <div class="container">
        <small>© Copyright 2017 MOOCH</small>
    </div>
</footer>
