<div class="basicPage" style="background: gray; height: 100%; width: 100%; padding: 75px 0;">
    <div class="container" style="background:#F5F5F5; padding: 25px 25px; border-radius: 15px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="userProdHead" style="display: flex; justify-content:space-between">
                    <h3 class='title'>{{users.firstName}}'s Listings:</h3>
                    <a class='btn btn-primary' id='addProducts' href='/add/products'>Add A New Product</a>
                </div>
                <div class="container">
                    <div class="row">
                        {{#each userProducts}}
                        <div class="col-sm-4">
                            <img id='userproductpic1' src='https://s3-us-west-1.amazonaws.com/techcheckbucket/{{userUploadImage1}}'>
                            <ol>
                                <li>Product Id: {{id}}</li>
                                <li>Product Name: {{ product_name}}</li>
                                <li>Category: {{category}}</li>
                                <li>Description: {{product_description}}</li>
                                <li>${{daily}}/day</li>
                                <li>${{weekly}}/day</li>
                                <li>${{monthly}}/day</li>
                                <li>Security Deposit: ${{security_deposit}}</li>
                            </ol>
                            <button class='destroyButton' product={{id}}>Delete Product</button>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

</div>