<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MOOCH</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">

        </ul>

        {{#if signedIn}}
    <p id={{emai}}> {{!-- Navbar drop downs --}}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">{{email}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" style="list-style: none">
          <li>
            <a href="#">Profile</a>
          </li>
          <li>
            <a href="#">Transactions</a>
          </li>
          <li>
            <p>
              <a class="btn btn-primary" id='signOutUser' email={{email}}>Sign Out</a>
            </p>
          </li>
        </ul>
      </li>
    </p>
    {{else}}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInModal" id="signIn">
      Sign-in
    </button>
 
     <button class='newUserReg'  value="Register">Register</button>
  
    {{/if}}
    </div>

</nav>

<div class="container">
    <div class="row class=" text-center "">
        <div class="col-12-sm">
            <h1>USER Profile Settings</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12-sm">
            <p>Profile Picture : {{profilePic}}</p>
            <p>Email : {{email}}</p>
            <p>Phone number : {{phoneNumber}}</p>
            <p>Address : {{address}}</p>
            <p>
                <a class="btn btn-primary" href="/editProfile">EDIT</a>
            </p>
        </div>
    </div>

</div>